/* Sidebar.css */
.sidebar {
  width: 229px;
  height: 100vh;
  background-color: #F6F6E9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.sidebar-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.sidebar-logo h1 {
  color: #0443A5;
}

.sidebar-user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info p {
  margin: 0;
}

.user-role {
  color: grey;
  font-size: 0.9em;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu ul li {
  display: flex;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;
  color: black;
}

.sidebar-menu ul li.active,
.sidebar-menu ul li:hover {
  background-color: #0443A5;
  color: white;
}

.space {
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar-logout {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  padding: 10px 0;
}

.sidebar-logout:hover {
  background-color: #0443A5;
  color: white;
}